<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433096942755-9i4kguljv8kl9qp8ftnas2f54hiu1eij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433096942755-9i4kguljv8kl9qp8ftnas2f54hiu1eij</string>
	<key>API_KEY</key>
	<string>AIzaSyCfp1XIXj9nZuobE8QVlIpe80ohEKqKxzI</string>
	<key>GCM_SENDER_ID</key>
	<string>433096942755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nekoverse.Neko-Battle-Merge-Run</string>
	<key>PROJECT_ID</key>
	<string>neko-merge</string>
	<key>STORAGE_BUCKET</key>
	<string>neko-merge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433096942755:ios:61d7d9e989fbb40bc7cb16</string>
</dict>
</plist>